.Gallery {
  background-color: #f0f0f0;
  padding: 100px 218px;

  &-title {
    color: #f1692f;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

    &-text {
      border-bottom: 4px solid #f1692f;
      padding: 10px 10px;
      font-weight: bold;
    }
  }

  &-imgs-pc {
  }

  &-imgs-row {
    display: none;
  }

  &-imgs-row {
    height: 300px;
    display: flex;
    margin-bottom: 15px;
    gap: 15px;
  }

  &-img {
    border-radius: 20px;
    &.long {
      flex: 5;
      background-color: #f1692f;
    }
    &.sort {
      flex: 2;
      background-color: #d9d9d9;
    }
  }
}

@media (max-width: 768px) {
  .Gallery {
    padding: 12px 12px;

    &-imgs-pc {
      display: none;
    }
  }
}
